
/* Main */

.navbar-brand{
    background-color: #4aaaa5;
    margin-left: 25%;
    font-size:30px;
}

body{
    background: url("../images/floor-tile.png");
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-light .navbar-brand{
    color: #ffffff;
    font-weight: bold;
    padding: 20px;
}

a.nav-link{
    font-family: Arial, Helvetica, sans-serif;
}


li{
    padding: 15px;
}

header{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #cccccc;   
    margin-left: -10%;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.portfolio-header, .contact-header, .about-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 2px solid gray;
    width: 45%;
    padding:20px;
    font-weight: bold;
}


ul{
    margin-left:30%;
}

#profile{
    width: 250px;
    height: 200px;
    margin-bottom: 6%;
    margin-left:15%;
}

.row{
    margin-top: 2%;
}

img{
    width: 250px;
    height:250px;
}



footer{
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    padding: 40px;
    border-top: 8px solid #4aaaa5;
}

.bio-box, .portfolio-box {
    background-color: #ffffff;
}

.form-section{
    width:100%;
    margin-top:2%;
    background-color: #ffffff;

}

/* Portfolio Page */

.pic{
    position: relative;
    overflow: auto;
    float: left;
    width:274px;
    
}

.pic img {
    width:100%;
    border: 0 none;
    opacity: 0.8;
    padding: 10px;
}

.pic h3{
    position: absolute;
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
    left: 10px;
    bottom: 40px;
    width: 93%;
    padding: 10px;
}

/* Contact Page */


button{
    margin: 30px;
    font-size: 20px;
}